<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for@user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
  <div class="span8">
    <% if @user.asset_transfers.any? %>
      <h3>Transfers (<%= @user.asset_transfers.count %>)</h3>
      <ol class="transfers">
        <%= link_to "Your Asset", asset_transfers_path %> 
      </ol>
      <%= will_paginate @asset_transfers %>
    <% end %>
  </div>
</div>