<%= form_for(@transfer, html: { multipart: true }) do |f| %>
  <% if @transfer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@transfer.errors.count, "error") %> prohibited this upload from being saved:</h2>

      <ul>
        <% @transfer.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
          <li>
          <span class="content"><%= transfer.transferred_file_file_name %></span>
          <span class="timestamp">
          Posted <%= time_ago_in_words(transfer.created_at) %> ago.
          </span>
     </li>

        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.label :transferred_file, t('.transfer_new_file') %>
    <%= f.file_field :transferred_file, multiple: true, name: 'transfer[transferred_file]' %>
    <%= f.submit %>
  </div>
<% end %>

<% # jquery upload template # %>
<script id="template-upload" type="text/x-tmpl"><div class="upload">{%=o.name%}<div class="progress"><div class="bar" style="width: 0%"></div></div></div></script>
