<li>
  <span class="content"><%= transfer.content %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(transfer.created_at) %> ago.
  </span>
</li>

<div class="actions">
  <%= f.label :uploaded_file, t('.upload_new_file') %>
  <%= f.file_field :uploaded_file, multiple: true, name: 'upload[uploaded_file]' %>
  <%= f.submit %>
  <% end %>
 </div>

<% #jquery upload template # %>
<script id="template-upload" type="text/x-tmpl"><div class="upload">{%=o.name%}<div class="progress"><div class="bar" style="width: 0%"></div></div></div></script>
