<h1>Listing Transfers</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @transfers.each do |transfer| %>
      <tr>
      	<td><a href="/system/transfers/transferred_files/000/000/00<%=transfer.id%>/original/<%=transfer.transferred_file_file_name%>">Open</td>
      	<td><%= transfer.transferred_file_file_name %></td>
        <td><%= link_to 'Show and Download', transfers_path(transfer) %></td>
        <td><%= link_to 'Edit', edit_transfer_path(transfer) %></td>
        <td><%= link_to 'Destroy', transfer, method: :delete, data: { confirm: 'Are you sure?' } %></td> 
        <td><%= link_to 'Download ', download_path(transfer) %></td> 
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Transfer', new_transfer_path %>